@model IEnumerable<TimerCard.Models.User>

@{
    ViewData["Title"] = "自动打卡";
}

<h1>完美校园打卡 (内测)</h1>

<p>
    <a asp-action="Create">👉 加入</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                姓名
            </th>
            <th>
                学号
            </th>
            <th>
                电子邮件
            </th>
            <th>
                本人联系电话
            </th>
            <th>
                班主任
            </th>
            <th>
                紧急联系人姓名
            </th>
            <th>
                紧急联系人电话
            </th>
            <th>
                本人详细居住地址
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuId)
            </td>
            <th>
                @Html.DisplayFor(modelItem=> item.Email)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeachName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MergencyPeoplePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Langtineadress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
