@model TimerCard.Models.Attribution

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attribution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.collegeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.collegeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.majorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.majorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
